---
import { contentfulClient } from '../../../lib/contentful';
import type { EntryFieldTypes } from 'contentful';

interface Blog {
    contentTypeId: 'PostFeedLayout';
    fields: {
        title: EntryFieldTypes.Text;
        slug: EntryFieldTypes.Text;
        locale: EntryFieldTypes.Text;
    };
}

export async function getStaticPaths() {
    const entries = await contentfulClient.getEntries<Blog>({
        content_type: 'PostFeedLayout'
    });

    return entries.items.map(({ fields }) => {
        console.log(fields.slug, fields.locale);
        return {
            params: { slug: fields.slug, lang: fields.locale },
            props: { title: fields.title }
        };
    });
}

const { title } = Astro.props;
---

<body>
    <section>
        <h2>{title}</h2>
    </section>
</body>
