---
import { contentfulClient } from '../../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { EntryFieldTypes } from 'contentful';

interface Blog {
    contentTypeId: 'PostFeedLayout';
    fields: {
        title: EntryFieldTypes.Text;
    };
}

const entries = await contentfulClient.getEntries<Blog>({
    content_type: 'PostFeedLayout'
});
---

<body>
    {
        entries.items.map((item) => (
            <section>
                <h2>{item.fields.title}</h2>
            </section>
        ))
    }
</body>
