---
import BlogLayout from '../../../layouts/BlogLayout.astro';

import { getStaticPaths as blogPaths } from '../../../lib/blog';

export async function getStaticPaths() {
    return blogPaths();
}

const { title } = Astro.props;
---

<BlogLayout title={title}>
    <section>
        <h2>{title}</h2>
    </section>
</BlogLayout>
