---
import Logo from '../components/Logo.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLocalizedString } from '../lib/nav-links';

const navItems = [
    { linkText: getLocalizedString('home', Astro.currentLocale), href: getRelativeLocaleUrl(Astro.currentLocale, '/') },
    { linkText: getLocalizedString('revalidation', Astro.currentLocale), href: getRelativeLocaleUrl(Astro.currentLocale, 'revalidation') },
    { linkText: getLocalizedString('imagecdn', Astro.currentLocale), href: getRelativeLocaleUrl(Astro.currentLocale, 'image-cdn') },
    { linkText: getLocalizedString('edgefunctions', Astro.currentLocale), href: getRelativeLocaleUrl(Astro.currentLocale, 'edge') },
    { linkText: getLocalizedString('blobs', Astro.currentLocale), href: getRelativeLocaleUrl(Astro.currentLocale, 'blobs') },
    { linkText: getLocalizedString('articles', Astro.currentLocale), href: getRelativeLocaleUrl(Astro.currentLocale, 'articles') },
    { linkText: getLocalizedString('connect', Astro.currentLocale), href: getRelativeLocaleUrl(Astro.currentLocale, 'connect') }
];
---

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="/">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>
